.body{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
     
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1400px;
    padding: 20px;

    background-color: white;
    position: fixed;
    top: 1px;

    z-index: 1;
}

.image img{
    width: 150px;

    cursor: pointer;
}

.container1{
    display: flex;
    
    gap: 40px;
}

.container1 h1{
    font-size: 1.1rem;

    font-weight: normal;

    cursor: pointer;

    transition: 0.2s;
}

.container1 h1:hover{
    color: rgb(10, 233, 10);
}


.secondcontainer1{
    display: flex;
    align-items: center;
    
    gap: 15px;
}

.secondcontainer button{
    background-color: rgb(14, 218, 14);

    padding: 10px 28px;

    font-size: 1rem;

    border: none;
    border-radius: 10px;

    cursor: pointer;
}

.secondcontainer select{
    padding: 10px;
    border-radius: 8px;

    width: 100px;
    /* margin-right: 20px; */
}

.thirdcon{
    display: none;
}


@media (max-width: 320px) {

    .body{
        margin-bottom: 190px;
    }

    .container1 ,.secondcontainer ,.secondcontainer1 {
        display: none;
    }

    .container img{
        margin-right: 160px;
        font-size: 67px;
        /* margin-left: 5px; */
    }


    .thirdcon {
        display: flex;
        position: relative;

        left: 60px ;
        bottom: 90px ;

        top: 0.9px;

    }

    .thirdcon button{
        border: none;

        width: 150px;

        background-color: rgb(19, 233, 19);
        color: rgb(0, 0, 0);

        border-radius: 10px;

        margin-right: 5px;
        cursor: pointer;
    }

    .thirdcon i{
        position: relative;
        top: 8px;

        color: rgb(19, 233, 19);

        font-size: 1.3rem;
        cursor: pointer;
    }
}


@media (max-width: 768px) {

     /* .container1 ,.secondcontainer ,.secondcontainer1 {
        display: none;
    } */

    .body{
        margin-bottom: 90px;
    }

    .container{
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .container1{

        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .container1 h1{
        font-size: 15px;
    }

    .secondcontainer1{
        justify-content: center;
    }

    .secondcontainer button{
        width: 90px;
        height: 50px;
        font-size: 15px;
        
        padding: 1px;
    }

    .secondcontainer select{
        width: 90px;
        font-size: 15px;
    }
}


@media (max-width: 1024px) {
    .container1{
        gap: 10px;
    }

    .container1 h1{
        font-size: 1rem;
    }

    .image img{
        width: 130px;
    }
}

